a {
    text-decoration: none;
}

.page-body{
    font-family: sans-serif;
    margin: auto;
    max-width: 1280px;
}

.page-header{
    padding-top: 63px;
    padding-bottom: 48px;
}

.header-container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-weight: 400;
    font-size: 80px;
    color: #000;
    margin-top: 0;
    margin-bottom: 40px;
}

.accent-color{
    color: #4bcaff;
}

.box{
    display: flex;
    background-color: #35444f;
    justify-content: center;
}

.item{
    padding: 20px 22px;
    color: #fff;
    font-size: 24px;
    border: 1px solid #fff;
    text-align: center;
}

.item:hover {
    background-color: #333;
}

.wrapper{
    display: flex;
    gap: 52px;
    justify-content: space-between;
    flex-grow: 2;
}

.sidebar{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    width: 346px;
    height: 397px;
    padding: 0;
}

.sidebar-item{
    font-weight: 400;
    font-size: 27px;
    line-height: 100%;
    color: #495863;
    padding: 26px 44px;
    margin: 0;
}

.sidebar-item:hover {
    background: #dbdbdb;
    text-align: center;
}

.img-descr {
    width: 885px;
    height: 832px;
    margin: 0;
}

.border{
    border: 1px solid #000;
    border-top: 0;
    padding: 145px 120px;
}

.img {
    transition: all .5s;
    margin: auto;
    cursor: pointer;
}

.img:hover{
    transform: scale(1.2);
}

.descr1{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #2c2c2c;
    text-align: justify;
    margin-top: 70px;
    margin-bottom: 13px;
}

.descr2{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #2c2c2c;
    text-align: justify;
    margin: 0;
}

.page-footer{
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.footer-box{
    display: flex;
    justify-content: center;
    background: rgba(99, 105, 110, 0.48);
}
.footer-ramda {
    display: flex;
    justify-content: center;
}

.footer-item {
    padding: 20px;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0c1927;
    text-align: center;
}

.footer-item:hover {
    color: #3181a6;
}

.copy{
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #010101;
    padding: 22px;
    margin: 0 0 0 auto;
}
